<footer>
  <nav class="social">
    <a href="https://www.facebook.com/abeecatcuh/"><img class="footlink" src="/assets/stampface.png"></a>
    <a href="https://www.instagram.com/coletteisabella/"><img class="footlink" src="/assets/stampstigram.png"></a>

    <a href="/"><img class="footlink" src="/assets/mousebee2.png"></a>
    <a href="https://github.com/ColetteIsabella"><img class="footlink" src="/assets/stampgh.png"></a>
    <a href="https://www.linkedin.com/in/coletteisabella"><img class="footlink" src="/assets/stampli.png"></a>
  </nav>
</footer>
